/* Reset styles */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Color styles */
/* Buttons styles */
.blue-button,
.gray-button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  padding: 10px;
  min-width: 120px;
  text-align: center;
  border: none;
  display: block;
  text-transform: uppercase;
}
.blue-button:hover,
.gray-button:hover,
.blue-button:active,
.gray-button:active,
.blue-button:focus,
.gray-button:focus {
  text-decoration: none;
  color: white;
}
.blue-button {
  background: #0084ff;
}
.gray-button {
  background: #a8afba;
}
.button-white-large {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  font-size: 12px;
  color: #0084ff;
  text-transform: uppercase;
  background: white;
  border: none;
  width: 160px;
  text-align: center;
}
.button-white-large:hover {
  background: #c9d7d8;
}
/* Common mixin styles */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Font styles */
body {
  color: #51575e;
}
.h1-gray-1,
.h2-gray-1,
.h3-gray-1 {
  line-height: 1.5;
  color: #51575e;
}
.h1-gray-3 {
  color: #3e6372;
}
.h3-gray-2 {
  color: #a8afba;
}
.h1-blue-1,
.h2-blue-1,
.h3-blue-1 {
  line-height: 1.5;
  color: #0084ff;
}
.h1-white-1 {
  line-height: 1.5;
  color: white;
}
.h1-white {
  font-size: 42px;
}
.h1-gray-1,
.h1-gray-3 {
  font-size: 22px;
}
.h1-blue-1 {
  font-size: 22px;
}
.h2-gray-1 {
  font-size: 18px;
}
.h3-gray-1 {
  font-size: 14px;
}
.h3-gray-2 {
  font-size: 14px;
}
.domain-desc-asking {
  float: left;
}
.comment-box form {
  padding: 20px 25px;
  background: #f2f4f7;
}
.comment-box textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  resize: none;
  border: solid 1px #c9d7d8;
}
.gray-3-18,
.gray-3-25,
.gray-3-30 {
  color: #51575e;
  line-height: 1.5;
}
.gray-7-20 {
  color: #3e6372;
  line-height: 1.5;
}
.gray-3-30 {
  font-size: 30px;
}
.gray-3-25 {
  font-size: 25px;
}
.gray-3-20 {
  font-size: 20px;
}
.gray-3-20 {
  font-size: 20px;
}
.gray-2-14,
.gray-2-16 {
  color: #a8afba;
}
.gray-2-14 {
  font-size: 14px;
}
.gray-2-16 {
  font-size: 16px;
}
/* Inputs styles */
.input-white {
  padding: 15px 5px 15px 25px;
  background: white;
  border: none;
  color: #0084ff;
  font-size: 14px;
  width: 165px;
}
.text-input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #c9d7d8;
  width: 100%;
  padding: 10px;
  color: #a8afba;
}
.password {
  padding-right: 60px;
}
.pass-input-holder {
  position: relative;
}
.forgot-pass {
  font-size: 12px;
  color: #808080;
  text-decoration: underline;
  position: absolute;
  top: 23px;
  right: 0;
  text-transform: capitalize;
}
.reveal-pass {
  position: absolute;
  top: 55px;
  right: 20px;
  color: #a8afba;
  cursor: pointer;
}
.input-gray input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  height: 40px;
  padding: 10px 10px 10px 35px;
  width: 100%;
  font-size: 14px;
  border: solid 1px #c9d7d8;
  color: #a8afba;
}
.input-gray span {
  position: absolute;
  z-index: 2;
  color: #a8afba;
  top: 10px;
  left: 35px;
}
textarea {
  resize: none;
}
textarea.medium {
  height: 142px;
}
textarea.small {
  height: 90px;
}
label {
  min-height: 25px;
}
/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.3.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2014 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #ffffff url('../img/chosen-sprite.png') no-repeat 100% -20px;
  background: url('../img/chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}
/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: #ffffff url('../img/chosen-sprite.png') no-repeat -30px -20px;
  background: url('../img/chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
/**
  Chosen custom styles
*/
.chosen-container {
  min-width: 100%;
  margin-bottom: 20px;
}
.chosen-container-active.chosen-container-single .chosen-single,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-container-single .chosen-drop {
  background: white;
  background-color: white;
  border: solid 1px #c9d7d8;
  box-shadow: none;
  color: #a8afba;
  min-height: 40px;
  line-height: 40px;
  padding: 0 15px;
}
.chosen-container .chosen-results {
  color: #a8afba;
}
.chosen-container .chosen-results .highlighted {
  background: #0084ff !important;
}
.chosen-single div,
.chosen-container-active .chosen-single div {
  border-left: solid 1px #c9d7d8 !important;
  width: 40px !important;
}
.chosen-container-single .chosen-single div b {
  background: url('../img/ico_rect_down.png') center no-repeat;
}
.chosen-container-single.chosen-with-drop .chosen-single div b {
  background: url('../img/ico_rect_up.png') center no-repeat;
}
.chosen-drop {
  padding: 10px 5px !important;
}
.chosen-results {
  margin: 0 !important;
  padding-right: 5px !important;
}
.select-labels {
  color: #a8afba;
  font-size: 12px;
  text-transform: capitalize;
}
/* Range selectors styles */
.range-selector-container {
  margin-bottom: 50px;
}
.slider-range-blue {
  background: #c9d7d8;
  border: none;
  height: 5px;
  width: 60%;
  margin: 0 20%;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #0084ff;
  border: none;
  top: -6px;
  cursor: pointer;
}
.ui-widget-header {
  background: #0084ff;
}
.slider-range-label-min,
.slider-range-label-max,
.label-range {
  color: #51575e !important;
}
.slider-range-label-min,
.slider-range-label-max {
  position: absolute;
  width: 20%;
  top: 30px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
  border: none;
}
.slider-range-label-min {
  left: 0;
}
.slider-range-label-max {
  right: 0;
}
.rate-range-slider-holder {
  position: relative;
  margin-top: 30px;
}
.rate-range-slider-holder .rate-range-slider {
  width: 70%;
  margin-left: 15%;
}
.rate-range-slider-holder .rate-range-slider.ui-widget-content {
  background: #80c2ff !important;
  border: none;
  height: 5px;
}
.rate-range-slider-holder .rate-range-slider .ui-widget-header {
  background: #80c2ff !important;
}
.rate-range-slider-holder .rate-range-slider .ui-slider-handle {
  margin: 0 auto;
  background: url('../img/arrow-down-white-blue.png') no-repeat center !important;
  border-radius: 0;
  margin-top: -10px;
  margin-left: -10px;
}
.rate-range-slider-holder .label-left,
.rate-range-slider-holder .label-right {
  position: absolute;
  width: 15%;
  top: -8px;
  color: white;
}
.rate-range-slider-holder .label-right {
  right: -10px;
  text-align: left;
}
.rate-range-slider-holder .label-left {
  left: -10px;
  text-align: right;
}
/** Charts styles */
.highcharts-container {
  height: 185px;
  overflow: hidden;
}
/* Header styles */
header {
  border-bottom: solid 1px #e2eeef;
  padding: 20px;
}
header .blue-button {
  margin-top: 10px;
}
.register-login-nav,
.prime-nav {
  padding: 23px 0;
}
.register-login-nav li,
.prime-nav li {
  float: left;
  width-min: 50px;
  padding: 0 10px;
  line-height: 1;
}
.register-login-nav li a,
.prime-nav li a {
  color: #51575e;
  padding: 15px 10px;
}
.prime-nav {
  margin-right: 30px;
}
@media (max-width: 991px) {
  .prime-nav {
    margin-right: 0;
  }
}
.register-login-nav {
  margin-right: 10px;
}
@media (max-width: 991px) {
  .register-login-nav {
    margin-right: 0;
  }
}
.register-login-nav li:first-child {
  border-right: solid 1px;
}
.logo-large {
  display: inline-block;
  height: 60px;
  width: 220px;
  background: url('../img/logo-main.png') no-repeat;
}
/* Footer styles */
footer {
  color: #a8afba;
}
footer a {
  color: #a8afba;
}
footer a:hover {
  color: #a8afba;
  text-decoration: underline;
}
.footer-prime,
.footer-secondary {
  font-size: 12px;
  padding: 15px 0;
}
.footer-prime {
  background-color: #e6e9ee;
}
.footer-secondary {
  background-color: #f2f4f7;
  margin-top: 20px;
}
.footer-secondary li {
  padding: 3px 0;
}
.footer-nav-item-list {
  margin-bottom: 50px;
}
.footer-nav-item-list > p {
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .footer-nav-item-list {
    margin-bottom: 20px;
  }
}
/* Page main content styles */
.heading-backgroud {
  background: gray;
  height: 515px;
}
@media (max-width: 991px) {
  .heading-backgroud {
    height: 430px;
  }
}
.heading-backgroud p {
  margin-bottom: 0;
}
.heading-backgroud .h1-white {
  color: #ffffff;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 1.3;
}
.heading-backgroud .h3-white {
  color: #ffffff;
  line-height: 1.5;
}
.heading-backgroud .heading {
  color: #ffffff;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 1.3;
  text-align: center;
  padding: 110px 0 170px;
}
@media (max-width: 991px) {
  .heading-backgroud .heading {
    padding: 50px;
  }
}
.heading-backgroud a {
  margin-bottom: 5px;
  display: inline-block;
}
.arriw-link {
  color: #ffffff;
  margin-right: 30px;
  text-transform: uppercase;
  padding-right: 20px;
}
.arriw-link:hover {
  color: #ffffff;
}
.treading-list {
  margin-top: 20px;
}
.treading-list li {
  float: left;
}
@media (max-width: 991px) {
  .treading-list li {
    width: 100%;
  }
}
.treading-list li > div {
  padding: 15px 20px 35px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  background: #f2f4f7;
  border: solid 1px #c9d7d8;
}
@media (max-width: 991px) {
  .treading-list li > div {
    margin-bottom: 20px;
  }
}
.treading-list li .item-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.treading-list li .item-price {
  color: #0084ff;
}
.treading-list li .item-remain {
  font-size: 12px;
  color: #a8afba;
  text-transform: capitalize;
  line-height: 2;
}
.treading-list li .item-desc {
  margin-top: 15px;
}
.treading-list .website-link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url('../img/browser_gray.png');
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  border: solid 1px #c9d7d8;
  border-right: 0;
  height: 40px;
  width: 50px;
  background-color: white;
  right: 0;
  top: 20px;
  cursor: pointer;
}
.featured-listing {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .featured-listing {
    margin-bottom: 60px;
  }
}
.featured-listing li {
  margin-bottom: 20px;
}
.featured-listing li > div {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  background: #f2f4f7;
  border: solid 1px #c9d7d8;
  padding: 20px;
}
.featured-listing li > div .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  max-width: 80%;
  display: inline;
  text-transform: uppercase;
}
.featured-listing li > div .price {
  float: right;
  margin-right: 60px;
  color: #0084ff;
}
.featured-listing a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url('../img/browser_gray.png');
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  border: solid 1px #c9d7d8;
  border-right: 0;
  height: 40px;
  width: 50px;
  background-color: white;
  right: 0;
  top: 50%;
  margin-top: -20px;
}
.link-arrow-gray {
  color: #51575e;
  display: table;
  padding-right: 30px;
  font-size: 12px;
}
.published-area {
  padding: 50px 0;
  background: gray;
}
.published-area > p {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}
.published-list {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
}
.published-list li {
  float: left;
  margin-right: 30px;
  color: white;
}
@media (max-width: 991px) {
  .published-list li {
    margin-bottom: 20px;
  }
}
.ceo-bord p {
  line-height: 2;
  font-size: 12px;
}
.person-holder {
  position: relative;
  padding-left: 75px;
  min-height: 70px;
  padding-top: 20px;
  margin-top: 20px;
}
.person-holder > div {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin-top: -33px;
  height: 65px;
  width: 65px;
  left: 0;
  border: solid 1px;
}
.person-holder > div img {
  height: 100%;
  width: 100%;
}
/* Buy page styles */
#listing-sort-by {
  width: 150px;
  text-transform: uppercase;
}
#listing-sort-by .chosen-container {
  margin-left: -24px;
}
.product-listing li {
  margin-bottom: 20px;
}
.product-listing .product-listing-item-large {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 17px 15px;
  background: #fffaef;
  border: solid 1px #e3cc9b;
  position: relative;
}
.product-listing .product-listing-item-large .item-image {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 115px;
  width: 25%;
  background: #51575e;
  float: left;
}
.product-listing .product-listing-item-large .item-description {
  width: 50%;
  float: left;
  padding-left: 20px;
}
.product-listing .product-listing-item-large .item-pricing {
  width: 25%;
  float: left;
  padding: 27px 0;
  padding-right: 20px;
}
.product-listing .product-listing-item-large .item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  width: 100%;
  color: #51575e;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}
.product-listing .product-listing-item-large .item-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #51575e;
  font-size: 12px;
  width: 100%;
  float: left;
}
.product-listing .product-listing-item-large .item-tech-desc,
.product-listing .product-listing-item-large .item-tech-cost,
.product-listing .product-listing-item-large .item-tech-rev,
.product-listing .product-listing-item-large .item-tech-comm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  font-size: 12px;
  color: #a8afba;
  text-transform: capitalize;
}
.product-listing .product-listing-item-large .item-tech-desc,
.product-listing .product-listing-item-large .item-tech-rev {
  width: 40%;
}
.product-listing .product-listing-item-large .item-tech-cost,
.product-listing .product-listing-item-large .item-tech-comm {
  width: 60%;
}
.product-listing .product-listing-item-large .item-tech-price {
  width: 100%;
  float: right;
  color: #ff8a00;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0;
}
.product-listing .product-listing-item-large .item-tech-left {
  float: left;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
}
.product-listing .product-listing-item-large .website-link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url('../img/browser_gray.png');
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  border: solid 1px #c9d7d8;
  border-right: 0;
  height: 40px;
  width: 50px;
  background-color: white;
  right: 0;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}
.product-listing .product-listing-medium {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  background: #f2f4f7;
  border: solid 1px #c9d7d8;
  padding: 25px;
  padding-right: 15px;
}
.product-listing .product-listing-medium .item-description,
.product-listing .product-listing-medium .item-pricing {
  float: left;
}
.product-listing .product-listing-medium .item-description {
  width: 75%;
}
.product-listing .product-listing-medium .item-pricing {
  width: 25%;
  padding: 8px 0;
  padding-right: 20px;
}
.product-listing .product-listing-medium .item-desc,
.product-listing .product-listing-medium .item-title {
  color: #51575e;
  font-size: 12px;
}
.product-listing .product-listing-medium .item-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.product-listing .product-listing-medium .item-title {
  text-transform: uppercase;
  margin-bottom: 3px;
}
.product-listing .product-listing-medium .item-tech-desc,
.product-listing .product-listing-medium .item-tech-cost,
.product-listing .product-listing-medium .item-tech-rev,
.product-listing .product-listing-medium .item-tech-comm {
  max-width: 25%;
  margin-right: 30px;
  float: left;
  font-size: 12px;
  color: #a8afba;
  margin-bottom: 0;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .product-listing .product-listing-medium .item-tech-desc,
  .product-listing .product-listing-medium .item-tech-cost,
  .product-listing .product-listing-medium .item-tech-rev,
  .product-listing .product-listing-medium .item-tech-comm {
    max-width: 50%;
    width: 45%;
    margin-right: 5%;
    float: left;
    margin-bottom: 5px;
  }
}
.product-listing .product-listing-medium .item-tech-left {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.product-listing .product-listing-medium .item-tech-price {
  width: 100%;
  color: #0084ff;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0;
}
.product-listing .product-listing-medium .website-link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url('../img/browser_gray.png');
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  border: solid 1px #c9d7d8;
  border-right: 0;
  height: 40px;
  width: 50px;
  background-color: white;
  right: 0;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}
.product-listing .product-lisitng-small {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: 55px;
  position: relative;
  background: #f2f4f7;
  border: solid 1px #c9d7d8;
  padding: 20px 25px;
  padding-right: 15px;
}
.product-listing .product-lisitng-small .website-link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url('../img/globe_gray.png');
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  border: solid 1px #c9d7d8;
  border-right: 0;
  height: 40px;
  width: 50px;
  background-color: white;
  right: 0;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}
.product-listing .product-lisitng-small .item-title {
  width: 55%;
  text-transform: uppercase;
  font-size: 12px;
  color: #51575e;
  float: left;
  margin-bottom: 0px;
}
.product-listing .product-lisitng-small .item-tech-left {
  float: left;
  width: 20%;
  color: #a8afba;
  text-transform: capitalize;
  line-height: 14px;
}
.product-listing .product-lisitng-small .item-tech-price {
  width: 25%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #0084ff;
  line-height: 14px;
  float: left;
}
.paging-navigation {
  font-size: 12px;
  margin: 0 auto;
  display: table;
  position: relative;
}
.paging-navigation a {
  color: #51575e;
}
.paging-navigation .paging-prev,
.paging-navigation .paging-next {
  float: left;
  line-height: 25px;
  position: absolute;
  top: 0;
}
.paging-navigation .paging-prev {
  left: -68px;
  padding-left: 15px;
  background: url('../img/arrow-prev.png') no-repeat left 7px;
}
.paging-navigation .paging-next {
  right: -45px;
  padding-right: 15px;
  background: url('../img/arrow-next.png') no-repeat right 7px;
}
.paging-navigation .paging-pages li {
  float: left;
  margin: 0 5px;
}
.paging-navigation .paging-pages li.active a {
  border: solid 1px #0084ff;
}
.paging-navigation .paging-pages li.no-link a {
  border: none;
}
.paging-navigation .paging-pages li.no-link a:hover {
  background: transparent;
}
.paging-navigation .paging-pages li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 19px;
  padding: 3px;
  border: solid 1px #b2d4dc;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
}
.paging-navigation .paging-pages li a:hover {
  text-decoration: none;
  background: #c9d7d8;
}
/* Single domain page styles */
.domain-desc {
  background: #eaeef4;
  padding: 20px 0;
}
.title-desc span {
  text-transform: uppercase;
  line-height: 1;
  display: block;
}
@media (max-width: 991px) {
  .title-desc span {
    text-align: center;
  }
}
.breadcrumb-holder {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.breadcrumb-holder li {
  float: left;
  padding-right: 13px;
  margin-right: 10px;
  text-transform: capitalize;
  background: url('../img/double-arrow-gray.png') no-repeat center right;
}
.breadcrumb-holder li:last-child {
  background: none;
}
.breadcrumb-holder li a {
  color: #51575e;
}
.round-img-small {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: solid 1px;
  overflow: hidden;
}
.user-info {
  float: left;
  color: #51575e;
  margin-right: 50px;
}
.user-info img {
  float: left;
  margin-right: 20px;
}
.user-info p {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0;
  float: left;
  margin-top: 5px;
}
.user-info p:last-child {
  margin-top: 0;
  float: none;
}
.tabs-holder {
  float: left;
  margin-top: 5px;
}
@media (max-width: 991px) {
  .tabs-holder {
    float: right;
  }
}
.tabs-holder a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 110px;
  text-align: center;
  font-size: 12px;
  color: #c9d7d8;
  border: solid 1px #c9d7d8;
  height: 40px;
  padding: 12px;
  text-transform: uppercase;
  background: white;
  float: left;
}
.tabs-holder a:hover {
  text-decoration: none;
}
.tabs-holder a.active-tab {
  color: #0084ff;
  border: solid 1px #0084ff;
}
.tabs-holder .tab-left {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.tabs-holder .tab-right {
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tabs-holder-2 {
  float: right;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .tabs-holder-2 {
    margin-left: 30px;
  }
}
.tabs-holder-2 a {
  display: inline-block;
  width: 55px;
  height: 40px;
  float: left;
  background-color: white;
  border: solid 1px #0084ff;
}
.tabs-holder-2 a:last-child {
  border-left: none;
}
.tabs-holder-2 .favorite {
  background-image: url('../img/star-blue-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.tabs-holder-2 .popout {
  background-image: url('../img/popout-blue-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.tabs-holder-2 .tab-left {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tabs-holder-2 .tab-right {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.single-desc-price {
  text-transform: uppercase;
}
.single-desc-price .price {
  color: #0084ff;
  margin-bottom: 3px;
  width: 100%;
  text-align: right;
}
.single-desc-price .left {
  color: #51575e;
  font-size: 10px;
  width: 100%;
  text-align: right;
  margin-bottom: 0;
}
.domain-offer {
  background: #0084ff;
  border-top: solid 1px white;
}
.domain-offer .row {
  padding: 25px 15px;
}
.domain-offer p {
  line-height: 1;
  margin-bottom: 0;
  color: white;
}
.domain-offer .currency {
  font-size: 14px;
}
.offer-holder {
  position: relative;
}
.offer-holder #currency-offer {
  color: #0084ff;
  position: absolute;
  top: 15px;
  left: 10px;
}
.offer-holder #offering-price {
  margin-right: 10px;
}
#offering-form .input-white {
  width: 135px;
}
@media screen and (min-width: 1201px) {
  #offering-form .input-white {
    width: 165px;
  }
}
#offering-form .button-white-large {
  width: 125px;
}
@media screen and (min-width: 1201px) {
  #offering-form .button-white-large {
    width: 160px;
  }
}
.domain-desc-list .domain-desc-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f2f4f7;
  border: solid 1px #c9d7d8;
  padding: 15px;
  color: #51575e;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.domain-desc-list .domain-desc-item span {
  float: right;
}
.item-heading {
  text-transform: uppercase;
  line-height: 1.5;
  width: 100%;
  border-bottom: solid 1px #c9d7d8;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.domain-desc-tagline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #3e6372;
}
.comments-list li {
  padding-left: 80px;
  position: relative;
  padding-bottom: 30px;
  margin-top: 30px;
  border-bottom: solid 1px #e5e5e5;
}
.comments-list li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #51575e;
  position: absolute;
  top: 0;
  left: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
}
.comments-list li .user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  font-size: 14px;
  color: #0084ff;
  float: left;
  text-transform: capitalize;
  margin-right: 10px;
}
.comments-list li .date {
  font-size: 12px;
  color: #a8afba;
  float: left;
  margin-right: 10px;
  line-height: 22px;
}
.comments-list li .welth {
  color: #0084ff;
  padding-left: 25px;
  background: url('../img/blue-hart.png') no-repeat center left;
  float: left;
}
.comments-list li .quote-link {
  margin-left: 30px;
}
.reply-link,
.quote-link {
  padding-left: 30px;
  color: #3e6372;
  font-size: 14px;
}
.reply-link {
  background: url('../img/reply-gray.png') no-repeat center left;
}
.quote-link {
  background: url('../img/quote-gray.png') no-repeat center left;
}
@media (max-width: 991px) {
  .asking-price p {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .place-offer {
    margin: 0 auto;
    margin-top: 20px;
    display: table;
  }
}
/* Single website page styles */
.website-carusel-preview {
  background: #f2f4f7;
  padding: 60px 0;
}
.carousel {
  position: relative;
  width: 73%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .carousel {
    width: 90%;
    padding-bottom: 60px;
  }
}
.carousel .blue-button.prev,
.carousel .blue-button.next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .carousel .blue-button.prev,
  .carousel .blue-button.next {
    top: auto;
    bottom: -40px;
  }
}
.carousel .blue-button.prev {
  left: -140px;
}
@media (max-width: 1024px) {
  .carousel .blue-button.prev {
    left: 0;
  }
}
.carousel .blue-button.next {
  right: -140px;
}
@media (max-width: 1024px) {
  .carousel .blue-button.next {
    right: 0;
  }
}
/* Sign up and login page styles */
.login-holder {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f2f4f7;
  border: solid 1px #c9d7d8;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .login-holder {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}
.login-head {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  padding: 20px;
  color: #808080;
  text-transform: uppercase;
  text-align: center;
}
.login-body {
  padding: 30px;
}
.socials-list {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.socials-list li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.socials-list li.facebook {
  background: #3b5998;
}
.socials-list li.tweet {
  background: #44bbff;
}
.socials-list li.google {
  background: #df4a32;
}
.socials-list li a {
  color: white;
  padding: 20px;
  display: block;
  text-transform: capitalize;
  text-decoration: none !important;
}
.link-arrow-blue {
  padding-right: 25px;
}
.extend-button {
  padding: 10px 20px;
}
/* Domain listing pages style */
.step-indicator-holder {
  height: 80px;
}
.steps-list {
  display: table;
  margin: 0 auto;
}
.steps-list li {
  float: left;
  position: relative;
  width: 170px;
}
@media (max-width: 991px) {
  .steps-list li {
    width: 160px;
  }
}
.steps-list li.active span {
  background: #0084ff;
}
.steps-list li.active > div {
  background: #0084ff;
}
.steps-list li.verified span {
  background: url('../img/verified-blue.png') no-repeat center;
  border: none;
}
.steps-list li.verified > div {
  background: #0084ff;
}
.steps-list li.verify span {
  background: url('../img/verify-blue-white.png') no-repeat center;
  height: 40px;
  width: 40px;
  top: -18px;
  right: -10px;
}
.steps-list li > div {
  height: 3px;
  background: #b2d4dc;
}
.steps-list li p {
  color: #3e6372;
  text-transform: capitalize;
}
.steps-list li:first-child {
  width: 1px;
}
.steps-list li span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  background: #b2d4dc;
  position: absolute;
  right: 0;
  top: -8px;
  border: solid 5px white;
}
.steps-list li .step-desc-1,
.steps-list li .step-desc-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  width: 100px;
  right: -40px;
  text-align: center;
  font-size: 12px;
}
.steps-list li .step-desc-1 {
  top: 20px;
}
.steps-list li .step-desc-2 {
  top: 45px;
}
.steps-form-holder {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f2f4f7;
  border: solid 1px #c9d7d8;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.steps-form-holder > p {
  color: #3e6372;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.steps-form-holder hr {
  border-color: #c9d7d8;
  margin: 25px 0;
}
.steps-form-holder .chosen-container {
  margin-bottom: 0;
}
.form-tab-list {
  width: 100%;
  right: 0;
  top: 0;
  height: 65px;
  margin-top: -40px;
  margin-bottom: 40px;
}
.form-tab-list li {
  float: left;
  height: 100%;
  background: white;
  border-right: solid 1px #c9d7d8;
  border-bottom: solid 1px #c9d7d8;
}
.form-tab-list li:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.form-tab-list li:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-right: none;
}
.form-tab-list li.active {
  background: transparent;
  border-bottom: none;
}
.form-tab-list li.active a {
  color: #0084ff;
}
.form-tab-list li.active a:hover {
  color: #0084ff;
}
.form-tab-list li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #c5c7c9;
  text-transform: uppercase;
  padding: 22px;
}
.form-tab-list li a:hover {
  color: #c5c7c9;
  text-decoration: none;
}
.domain-form .form-tab-list li {
  width: 50%;
}
.domain-form label {
  color: #3e6372;
  text-transform: capitalize;
  padding-top: 10px;
}
.gray-link {
  display: inline-block;
  color: #a8afba;
  padding: 10px;
  margin: 0 20px;
}
.gray-link:hover {
  color: #a8afba;
}
.info-flyout {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 20px;
  color: white;
  background: #adb9c0;
  z-index: 2;
  right: -11px;
  top: 0;
  cursor: pointer;
}
.tooltip {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  color: white;
  margin-top: -10px !important;
  opacity: 1;
}
.tooltip-inner {
  background: #adb9c0;
  font-style: italic;
  padding: 10px;
  opacity: 1;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #adb9c0;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #adb9c0;
}
.promote-form {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: solid 2px #c9d7d8;
  background: white;
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 0;
}
.promote-form .input-holder {
  margin-top: 5px;
}
.promote-form .promote-options > li {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 20px 0 !important;
}
.promote-options > li {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: solid 2px #c9d7d8;
  background: white;
  padding: 20px 0;
  color: #3e6372;
  margin-bottom: 20px;
}
.promote-options > li:hover {
  padding: 21px 1px;
  border: solid 1px #0084ff;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 132, 255, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 132, 255, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(0, 132, 255, 0.5);
}
.promote-type {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  border: solid 1px #fafbfb;
  padding: 10px;
}
@media (max-width: 768px) {
  .promote-type {
    margin: 0 auto;
  }
}
.promote-type.orange > div > div {
  background: #ff8a00;
}
.promote-type.gray > div > div {
  background: #9fa7b7;
}
.promote-type.blue > div > div {
  background: #0084ff;
}
.promote-type > div {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #e2eeef;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.promote-type > div > div {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: white;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  padding: 30px 10px;
  text-align: center;
}
.newspaper-layout {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10;
  -moz-column-gap: 10;
}
.newspaper-layout li {
  padding: 0;
  padding-bottom: 5px;
}
.center {
  margin: 0 auto;
}
.margin-top-120 {
  margin-top: 120px;
}
.margin-top-115 {
  margin-top: 115px;
}
.margin-top-110 {
  margin-top: 110px;
}
.margin-top-105 {
  margin-top: 105px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-95 {
  margin-top: 95px;
}
.margin-top-90 {
  margin-top: 90px;
}
.margin-top-85 {
  margin-top: 85px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-top-75 {
  margin-top: 75px;
}
.margin-top-70 {
  margin-top: 70px;
}
.margin-top-65 {
  margin-top: 65px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-top-55 {
  margin-top: 55px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-45 {
  margin-top: 45px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-120 {
  margin-bottom: 120px;
}
.margin-bottom-115 {
  margin-bottom: 115px;
}
.margin-bottom-110 {
  margin-bottom: 110px;
}
.margin-bottom-105 {
  margin-bottom: 105px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-bottom-95 {
  margin-bottom: 95px;
}
.margin-bottom-90 {
  margin-bottom: 90px;
}
.margin-bottom-85 {
  margin-bottom: 85px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.margin-bottom-75 {
  margin-bottom: 75px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.margin-bottom-65 {
  margin-bottom: 65px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.padding-50 {
  padding: 50px;
}
.padding-45 {
  padding: 45px;
}
.padding-40 {
  padding: 40px;
}
.padding-35 {
  padding: 35px;
}
.padding-30 {
  padding: 30px;
}
.padding-25 {
  padding: 25px;
}
.padding-20 {
  padding: 20px;
}
.padding-15 {
  padding: 15px;
}
.padding-10 {
  padding: 10px;
}
.padding-5 {
  padding: 5px;
}
.padding-0-40 {
  padding: 0 40px;
}
@media (max-width: 991px) {
  .sm-center {
    margin: 0 auto;
    text-align: center;
    float: none !important;
    display: block;
  }
}
