/* Buttons styles */
.blue-button{
  .border-radius(20px);
  color: white;
  background: @blue-1;
  padding: 10px;
  min-width: 120px;
  text-align: center;
  border: none;
  display: block;
  text-transform: uppercase;

  &:hover, &:active, &:focus{
    text-decoration: none;
    color: white;
  }
}

.button-white-large{
  .text-ellipsis;
  height: 50px;
  font-size: 12px;
  color: @blue-1;
  text-transform: uppercase;
  background: white;
  border: none;
  width: 160px;
  text-align: center;

  &:hover{
    background: @blue-3;
  }
}