/* Buttons styles */
.blue-button{
  .border-radius(20px);
  color: white;
  background: @blue-1;
  padding: 10px;
  min-width: 120px;
  text-align: center;

  &:hover{
    text-decoration: none;
    color: white;
  }
}