/* Color styles */
@blue-1: #0084ff;
@blue-2: #f2f4f7;
@blue-3: #c9d7d8;
@blue-4: #b2d4dc;
@blue-5: #eaeef4;
@blue-6: #80c2ff;
@blue-7: #3b5998;
@blue-8: #44bbff;

@gray-1: #e6e9ee;
@gray-2: #a8afba;
@gray-3: #51575e;
@gray-4: #e2eeef;
@gray-5: #f2f4f7;
@gray-6: #c9d7d8;
@gray-7: #3e6372;
@gray-8: #e5e5e5;
@gray-9: #808080;
@gray-10: #999;

@yellow-1: #fffaef;
@yellow-2: #e3cc9b;

@orange-1: #ff8a00;

@red-1: #df4a32;