/* Dashboard page styles */
.dashboard-container{
	max-width: 1400px;
}

.dashboard-header{
	background: white;
	position: relative;
	z-index: 2;
}

.dashboard-header, .dashboard-container{
	min-width: 1000px;
}

.dashboard-main-holder{
	padding-left: 260px;
	min-width: 1000px;
}

.user-flyout{
	padding: 15px;
	cursor: pointer;

	img{
		.border-radius(50%);
		height: 30px;
		width: 30px;
	  	overflow: hidden;
		border: solid 1px;
	}

	a{
		color: @gray-7;
		padding: 0 10px 0 10px;
		text-transform: uppercase;

		&:hover, &:focus{
			text-decoration: none;
		}

		span{
		  	font-size: 12px;
		}
	}
}

.notifications{
	.border-radius(20px);
	border: solid 1px @yellow-3;
  	overflow: hidden;
  	min-width: 70px;
  	margin: 16px 0px;
	margin-right: 20px;	
	cursor: pointer;
	
	span{
		width: 50%;
		height: 100%;
		float: left;
		display: inline-block;
	}

	.notificationsNum{
		background: @yellow-3;
		color: white;
	  	padding: 3px 5px;
	}

	.glyphicon{
		color: @yellow-3;
	 	padding: 5px 10px;
	}
}

.notifications-holder{
	.dropdown-menu{
		right: 24px;
	}
}

.dropdown-menu{
	.border-radius(5px);
	border: solid 1px @gray-1;
	width: 330px;
	right: 0;
  	left: auto;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	
	.peak{
		background: url('../img/peak-gray.png') center no-repeat;
		display: block;
		position: absolute;
		width: 20px;
	  	height: 20px;
	  	top: -13px;
	  	right: 20px;
	}

	hr{
		margin: 10px 0;
	}

	.blue-button{
		width: 100%;
		min-width: 0;
		margin-top: 0;
		padding: 7px 20px;
	}

	a{
		display: inline-block;
		margin-top: 5px;
	}
}

.user-dropdown{
	p{
		margin-bottom: 0;
	}

	img{
		.border-radius(50%);
		height: 50px;
		width: 50px;
	  	overflow: hidden;
		border: solid 1px;
	}
}

.notificationsList{
	margin-bottom: -15px;

	.notificationName{
		.getFont(12, @gray-7);
		margin-bottom: 0;
	}

	.notificationTime{
		.getFont(12, @gray-6);
		margin-bottom: 0;
	}

	.notificationFrom{

	}

	li{
		border-top: solid 1px lighten(@gray-6, 10%) !important;
		position: relative;
		min-height: 66px;

		&.new{
			background: lighten(@yellow-3, 49%);

			.notificationIcon{
				background: @yellow-3;
			}
		}
		
		&>div{
			padding: 15px;
			padding-left: 70px;
			background: transparent;
			border: none !important;

			&:hover{
				background: lighten(@gray-1, 5%);
			}
		}

		.notificationIcon{
			.border-radius(50%);
			position: absolute;
			left: 15px;
			background: @gray-6;
			color: white;
		  	height: 40px;
		  	width: 40px;
		  	top: 13px;
		}
	}
}

.dashboard-nav{
	width: 225px;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	min-height: 650px;
	background: @gray-19;

	.nav-items-holder{
		li{
			position: relative;
			color: @gray-22;
			text-transform: uppercase;
			border-bottom: solid 1px @gray-20;
			cursor: pointer;

			&.active{
				color: white;
			}

			&:hover, &.active{
				background: @gray-21;
			}

			&>div:first-of-type{
				padding: 17px 50px;
			}
		}

		.has-notification{
			.border-radius(50%);
			display: block;
			position: absolute;
			top: 25px;
			left: 5px;
			background: @yellow-3;
			height: 5px;
			width: 5px;
		}

		.collapse.in, [aria-expanded="true"]{
			background: @gray-21;
		}

		[aria-expanded="true"], [aria-expanded="false"]{
			.icon{
				right: 20px;
				top: 24px;
				font-size: 12px;
				position: absolute;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		[aria-expanded="true"]{
			.icon{
				&::before{
					content: "\e253";
				}
			}
		}

		[aria-expanded="false"]{
			.icon{
				&::before{
					content: "\e252";
				}
			}
		}
	}

	.submenu{
		padding: 0 40px;
		padding-bottom: 20px;
		padding-left: 25px;

		li{
			border: none;
			padding: 0;
			color: @gray-23;
			text-transform: capitalize;
			font-size: 14px;
			padding: 5px 0;

			a{
				color: @gray-23;
				
				&:hover{
					color: @gray-22;
				}
			}

			.notifications-submenu{
				.border-radius(10px);
				position: absolute;
				right: -30px;
				top: 7px;
				padding: 0 7px;
				background: @yellow-3;
				color: @gray-21;
				font-size: 12px;
  				line-height: 16px;
			}
		}
	}

	.glyphicon{
		color: white;

		&.glyphicon-triangle-left{
			position: absolute;
			right: -4px;
  			top: 22px;
		}
	}
}

.copy-right{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dashboard-menu-items{
	background: @gray-24;
	min-width: 1000px;

	ul{
		li{
			float: left;

			a{
				text-transform: uppercase;
				color: @brown-1;
				font-size: 14px;
				margin-right: 50px;
				padding: 10px 5px;
				display: inline-block;

				&:hover{
					text-decoration: none;
					color: @blue-1;
				}

				&:focus{
					text-decoration: none;	
				}
			}

			&.active{
				a{
					text-decoration: none;
					color: @blue-1;
					border-bottom: solid 3px @blue-1;
				}
			}
		}
	}
}

.row-correction{
	margin-right: 0;
}

.dashboard-item-blue{
	.border-radius(3px);
	background: @blue-1;
	padding: 20px;
	padding-right: 60px;
	padding-bottom: 45px;
	position: relative;
	min-height: 200px;
	overflow: hidden;

	.link-to{
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: @blue-9;
		border: solid 1px @blue-10;
		border-right: none;
		display: block;
		position: absolute;
		right: 0;
		top: 20px;
		height: 40px;
		width: 55px;
	}

	.item-footer{
		.text-ellipsis;
		background: @blue-9;
		border-top: solid 1px @blue-10;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0px;
		padding: 10px 20px;
		color: white;
		font-size: 12px;
		text-transform: uppercase;

		a{
			.text-ellipsis;
			color: white;
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	.item-header{
		font-size: 14px;
		color: white;
		text-transform: uppercase;
	}

	.item-list{
		li{
			.text-ellipsis;
			margin-bottom: 8px;
		}

		a{
			.text-ellipsis;
			font-size: 12px;
			color: white;
			display: block;
			text-transform: capitalize;
		}
	}
}

.price-drop{
	color: @red-1;
}

.price-increase{
	color: @green-1;
}

.dashboard-table-holder{
	.border-radius(5px);
	background: white;
	border: solid 1px @gray-4;
	overflow: hidden;
	max-height: 394px;

	.table-head-title{
		padding: 20px;
		.getFont(14, @gray-7);
		text-transform: capitalize;
	}

	.table-head{
		background: @gray-24;

		ul{
			padding: 10px 20px;
			overflow-y: scroll;
			margin-right: -30px;
			padding-right: 50px;

			li{
				float: left;
				width: 23%;
				margin: 0 1%;
				.getFont(12, @gray-7);
			}
		}
	}

	.table-list{
		max-height: 293px;
  		overflow-y: scroll;
  		padding: 0 20px;
  		.getFont(12, @gray-7);

  		ul{
  			border-bottom: solid 1px @gray-4;
  			margin: 0 -20px;
  			padding: 15px 20px;

  			li{
  				.text-ellipsis;
  				float: left;
  			}

  			&:last-child{
  				border: none;
  			}
  		}
	}
}