/* Dashboard page styles */
.dashboard-container{
	max-width: 1400px;
}

.dashboard-header{
	background: white;
	position: relative;
	z-index: 2;
}

.dashboard-header, .dashboard-container{
	min-width: 1000px;

	@media (max-width:1000px){
		min-width: 745px;
	}
}

.dashboard-main-holder{
	padding-left: 255px;
	min-width: 1000px;

	@media (max-width:1000px){
		padding-left: 60px;
		min-width: 748px;
	}
}

.dahsboard-content-container{
	.border-radius(3px);
	background: white;
	border: solid 1px @blue-3;
	overflow: hidden;

	.input-holder{
		margin-bottom: 20px;
	}	

	.chosen-container{
		margin-bottom: 0;
	}

	.user-flyout{
		padding: 0;
	}

	.custom-checkbox{
		display: block;
		label{
			color: @gray-7;
			padding-top: 10px;
			font-size: 12px;
			text-transform: none;
		}
	}
}

.user-flyout{
	padding: 15px;
	cursor: pointer;

	img{
		.border-radius(50%);
		height: 30px;
		width: 30px;
	  	overflow: hidden;
		border: solid 1px;
	}

	a{
		color: @gray-7;
		padding: 0 10px 0 10px;
		text-transform: uppercase;

		&:hover, &:focus{
			text-decoration: none;
		}

		span{
		  	font-size: 12px;
		}
	}
}

.notifications{
	.border-radius(20px);
	border: solid 1px @yellow-3;
  	overflow: hidden;
  	min-width: 70px;
  	margin: 16px 0px;
	margin-right: 20px;	
	cursor: pointer;
	
	span{
		width: 50%;
		height: 100%;
		float: left;
		display: inline-block;
	}

	.notificationsNum{
		background: @yellow-3;
		color: white;
	  	padding: 3px 5px;
	}

	.glyphicon{
		color: @yellow-3;
	 	padding: 5px 10px;
	}
}

.notifications-holder{
	.dropdown-menu{
		right: 24px;
	}
}

.dropdown-menu{
	.border-radius(5px);
	border: solid 1px @gray-1;
	width: 330px;
	right: -1px;
  	left: auto;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	
	.peak{
		background: url('../img/peak-gray.png') center no-repeat;
		display: block;
		position: absolute;
		width: 20px;
	  	height: 20px;
	  	top: -13px;
	  	right: 20px;
	}

	hr{
		margin: 10px 0;
	}

	.blue-button{
		width: 100%;
		min-width: 0;
		margin-top: 0;
		padding: 7px 20px;
	}

	a{
		display: inline-block;
		margin-top: 5px;
	}
}

.user-dropdown{
	p{
		margin-bottom: 0;
	}

	img{
		.border-radius(50%);
		height: 50px;
		width: 50px;
	  	overflow: hidden;
		border: solid 1px;
	}

	.text-uppercase.gray-6-14{
		&:before {
			font-family: 'Glyphicons Halflings';
  		content: "\e163";
		}
	}
}

.notificationsList{
	margin-bottom: -15px;

	.notificationName{
		.getFont(12, @gray-7);
		margin-bottom: 0;
	}

	.notificationTime{
		.getFont(12, @gray-6);
		margin-bottom: 0;
	}

	.notificationFrom{

	}

	li{
		border-top: solid 1px lighten(@gray-6, 10%) !important;
		position: relative;
		min-height: 66px;

		&.new{
			background-color: lighten(@yellow-3, 49%);

			.notificationIcon{
				background: @yellow-3;
			}
		}
		
		&>div{
			padding: 15px;
			padding-left: 70px;
			background: transparent;
			border: none !important;

			&:hover{
				background: lighten(@gray-1, 5%);
			}
		}

		.notificationIcon{
			.border-radius(50%);
			position: absolute;
			left: 15px;
			background: @gray-6;
			color: white;
	  	height: 35px;
	  	width: 35px;
	  	top: 15px;

	  	&.inbox{
	  		background-image: url('../img/icons/inbox-2.png');
	  		background-repeat: no-repeat;
	  		background-position: center;
	  	}

	  	&.tag{
	  		color:white;
	  		font-family: 'Glyphicons Halflings';
	  		&:before {
				  content: "\e042";
				  position: absolute;
				  top: 8px;
				  right: 11px;
				}
	  	}

	  	&.alarm{
	  		background-image: url('../img/icons/alarm.png');
	  		background-repeat: no-repeat;
	  		background-position: center;
	  	}

	  	&.x{
	  		background-image: url('../img/icons/close.png');
	  		background-repeat: no-repeat;
	  		background-position: center;	
	  	}

	  	&.chat{
	  		background-image: url('../img/icons/chat.png');
	  		background-repeat: no-repeat;
	  		background-position: center;	
	  	}

	  	&.info{
	  		background-image: url('../img/icons/info.png');
	  		background-repeat: no-repeat;
	  		background-position: center;		
	  	}

	  	&.stats{
	  		background-image: url('../img/icons/stats.png');
	  		background-repeat: no-repeat;
	  		background-position: center;			
	  	}
		}
	}
}

.dashboard-nav{
	width: 225px;
	position: absolute;
	z-index: 1;
	top: 0;
	height: 100%;
	min-height: 850px;
	background: @gray-19;
	-webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;

	@media (max-width: 1000px){
		left: -226px;

		.glyphicon-triangle-left{
			right: -3px !important;
		}

		&.opened{
	  	left: 0px;
	  }
	}

	@media (min-width: 1001px){
		left: 0px !important;
	}

	.nav-items-holder{
		li{
			position: relative;
			color: @gray-22;
			text-transform: uppercase;
			border-bottom: solid 1px @gray-20;
			cursor: pointer;

			a{
				color: @gray-23;
				display: block;
				padding: 17px 50px;
				
				&:hover, &:focus, &:visited{
					color: @gray-22;
					text-decoration: none;
				}
			}


			&.active{
				a{
					color: white !important;
				}
				background: @gray-31;

				.glyphicon{
					display: block;
				}

				.dashboard-icon{
					background: url('../img/icons/dash_active.png') 17px center no-repeat;
				}

				.deals-icon{
					background: url('../img/icons/deal_active.png') 17px center no-repeat;
				}

				.users-icon{
					background: url('../img/icons/users_active.png') 17px center no-repeat;				
				}

				.search-icon{
					background: url('../img/icons/search_active.png') 17px center no-repeat;				
				}

				.approval-icon{
					background: url('../img/icons/approval_active.png') 17px center no-repeat;				
				}

				.moderation-icon{
					background: url('../img/icons/pen_active.png') 17px center no-repeat;				
				}

				.listings-icon{
					background: url('../img/icons/listings_active.png') 17px center no-repeat;				
				}

				.report-icon{
					background: url('../img/icons/report_active.png') 17px center no-repeat;				
				}

				.settings-icon{
					background: url('../img/icons/settings_active.png') 17px center no-repeat;					
				}

				.support-icon{
					background: url('../img/icons/support_active.png') 17px center no-repeat;						
				}
			}

			&:hover{
				background: @gray-31;
			}

			&.has-notification{
				.notifications-indicator{
					display: inline !important;
				}
			}
		}

		.notifications-indicator{
			.border-radius(50%);
			display: block;
			position: absolute;
			top: 24px;
			left: 5px;
			background: @yellow-3;
			height: 5px;
			width: 5px;
			display: none;
		}

		.collapse.in, [aria-expanded="true"]{
			background: @gray-21;
		}

		[aria-expanded="true"], [aria-expanded="false"]{
			.icon{
				right: 20px;
				top: 22px;
				font-size: 12px;
				position: absolute;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		[aria-expanded="true"]{
			.icon{
				&::before{
					content: "\e253";
				}
			}
		}

		[aria-expanded="false"]{
			.icon{
				&::before{
					content: "\e252";
				}
			}
		}
	}

	.submenu{
		padding-bottom: 20px;

		li{
			border: none;
			padding: 0;
			color: @gray-23;
			text-transform: capitalize;
			font-size: 14px;
			padding-left: 25px;

			a{
				padding: 10px 0;
			}
		}

		.glyphicon.glyphicon-triangle-left{
		  	top: 13px;
		}

		.notifications-submenu{
			top: 10px;
		}
	}

	.glyphicon{
		color: white;

		&.glyphicon-triangle-left{
			position: absolute;
			right: -4px;
  			top: 20px;
  			display: none;
		}
	}
}

.notifications-submenu{
	.border-radius(10px);
	position: absolute;
	right: 20px;
	top: 17px;
	padding: 2px 7px;
	background: @yellow-3;
	color: @gray-21;
	font-size: 12px;
	line-height: 16px;
}

.copy-right{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dashboard-menu-items{
	background: @gray-24;
	position: relative;
	min-width: 1000px;

	@media(max-width:1000px){
		min-width: 748px;
	}

	ul{
		li{
			float: left;
			margin-right: 50px;

			&:last-child{
				margin-right: 0;
			}

			a{
				text-transform: uppercase;
				color: @gray-25;
				font-size: 14px;
				padding: 10px 5px;
				display: inline-block;

				&:hover{
					text-decoration: none;
					color: @blue-1;
				}

				&:focus{
					text-decoration: none;	
				}
			}

			&.active{
				a{
					text-decoration: none;
					color: @blue-1;
					border-bottom: solid 3px @blue-1;
				}
			}
		}
	}
}

.row-correction{
	margin-right: 0;
}

.dashboard-item-blue{
	.border-radius(3px);
	background: @blue-1;
	padding: 20px;
	padding-right: 60px;
	padding-bottom: 45px;
	position: relative;
	min-height: 200px;
	overflow: hidden;

	.link-to{
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: @blue-9;
		border: solid 1px @blue-10;
		border-right: none;
		display: block;
		position: absolute;
		right: 0;
		top: 20px;
		height: 40px;
		width: 55px;
	}

	.item-footer{
		.text-ellipsis;
		background: @blue-9;
		border-top: solid 1px @blue-10;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0px;
		padding: 10px 20px;
		color: white;
		font-size: 12px;
		text-transform: uppercase;

		a{
			.text-ellipsis;
			color: white;
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	.item-header{
		font-size: 14px;
		color: white;
		text-transform: uppercase;
	}

	.item-list{
		li{
			.text-ellipsis;
			margin-bottom: 8px;
		}

		a{
			.text-ellipsis;
			font-size: 12px;
			color: white;
			display: block;
		}
	}
}

.price-drop{
	color: @red-1;
}

.price-increase{
	color: @green-1;
}

.dashboard-table-holder, .paging-table{
	.border-radius(5px);
	background: white;
	border: solid 1px @gray-4;
	overflow: hidden;
	max-height: 414px;

	.table-head-title{
		padding: 20px;
		.getFont(14, @gray-7);
		text-transform: capitalize;
	}

	.table-head{
		background: @gray-24;
		font-weight: bold;

		&>ul{
			padding: 0 20px;
			overflow-y: scroll;
			margin-right: -30px;
			padding-right: 50px;

			&>li{
				.text-ellipsis;
				float: left;
				padding-top: 10px;
				padding-bottom: 10px;
				float: left;
				width: 23%;
				margin: 0 1%;
				.getFont(12, @gray-7);
			}
		}
	}

	.table-list{
		max-height: 311px;
		overflow-y: scroll;
		padding: 0 20px;
		.getFont(12, @gray-7);

		.custom-checkbox{
			display: block;
		}

  		&>ul{
  			border-bottom: solid 1px @gray-4;
  			margin: 0 -20px;
  			padding: 0 20px;
  			display: flex;

  			&>li{
  				.text-ellipsis;
  				padding-top: 15px;
  				padding-bottom: 15px;
  				float: left;
  				min-height: 1px;

  				&.price{
  					padding-right: 1%;
  				}
  			}

  			&:last-child{
  				border: none;
  			}
  		}
	}

	.table-footer{
		padding: 10px;
	}

	&.grid{
		li{
		  	white-space: inherit !important;
		}

		.table-head, .table-list{
			&>ul{
				display: flex;
				&>li{
					border-right: solid 1px @gray-4;
					&:first-child{
						padding-left: 10px;
					} 
					&:last-child{
						border: none;
					}
				}
			}
		}

		&:last-child{
			.nested-grid-12{
				ul li{
					margin-right: -9%;
				}
			}
		}
	}

	.small-switch{
		margin-top: -3px
	}
}

[class^="nested-grid-"], [class*=" nested-grid-"]{
	padding: 0 !important;
	overflow: visible !important;

	ul{
		li{
			border-bottom: solid 1px @gray-4;

			&:last-child{
				border: none;
			}
		}
	}
}

.nested-grid-25{
	ul{
		margin-left: -9% !important;

		li{
			padding: 15px 8%;
		}
	}
}

.nested-grid-12{
	ul{
		margin-left: -20% !important;

		li{
			padding: 15px 18%;
		}
	}
}

.paging-table{
	max-height: none;

	.newspaper-layout-3 {
		li{
			position: relative;
			margin: 15px 0;
			span{
				position: absolute;
				left: 200px;
			}
		}
	}

	.chosen-container{
		width: auto !important;
	}

	.table-head{
		ul{
			overflow: visible;
			text-transform: uppercase;
			padding: 0 !important;
			margin: 0 !important;
		}
	}

	.table-list{
		max-height: none;
		overflow-y: visible;
		padding: 0 !important;

		&>ul{
			padding: 0 !important;
			margin: 0 !important;
			&:last-child{
				border-bottom: solid 1px @gray-4;
			}

			&.highlight{
				background: lighten(@gray-24, 7%)
			}
		}
	}
}

.bg-gray{
	position: absolute;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	min-height: 850px;
	background: @gray-5;

	@media(max-width: 1000px){
		min-width: 748px;
	}
}

.dashboard-page-tittle{
	.getFont(18, @gray-27);
	position: relative;
	background: white;
	padding-top: 14px;
	padding-bottom: 14px;
	text-transform: capitalize;
	margin-left: -35px;
	padding-left: 290px;
	min-width: 1040px;

	.text-input{
		height: 31px;
		padding: 3px;
	}

	.blue-button{
		font-size: 14px !important;
		padding: 5px 20px;
	}

	@media (max-width: 1000px){
		display: block;
		padding-left: 100px;
		min-width: 783px;
	}
}

.mobile-navigation{
	height: 100%;
	width: 45px;
	right: -45px;
	position: absolute;
	background: @gray-19;
	display: none;
	border-top: none;
	border-bottom: none;

	.icon-bar{
		background: white;
	}

	.navbar-toggle{
		padding: 5px;
		margin: 0;
		margin-top: 15px;
  		margin-right: 5px;
  		background: white;

  		@media (max-width: 1000px){
			display: block !important;
		}
	}

	@media (max-width: 1000px){
		display: block;
	}
}

.scroll-container{
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;

	.scroll-list{
		.desc-1{
			.getFont(12, @gray-27);
			.margin-0;
			.text-ellipsis;
			padding-right: 5px;
		}
		.desc-2{
			.getFont(12, @gray-14);
			.margin-0;
			.text-ellipsis;
			margin-top: 5px;
		}

		li{
			position: relative;
			p{
				.text-ellipsis;
			}
			border-top: solid 1px @gray-29;
			padding: 20px 30px;
			cursor: pointer;

			&:hover{
				background: @gray-5;

				.notifications-num{
					background: @gray-26;
				}
			}

			&:last-child{
				border-bottom: solid 1px @gray-29;
			}

			.notifications-num{
				.border-radius(10px);
				right: 10px;
				top: 20px;
				font-size: 12px;
				padding: 0 10px;
				position: absolute;
				background: @blue-2;
			}
		}
	}

	&.gray-25{
		background: @gray-26;
	}

	&.gray-28{
		background: @gray-28;
	}

	&.gray-5{
		background: @gray-5;
	}
}

.user-list{
	li{
		position: relative;

		.user-profile-link{
			position: absolute;
			top: 10px;
			right: 15px;
			background: url('../img/icons/user-2.png') center no-repeat;
			height: 15px;
			width: 15px;
			display: block;
		}

		img{
			.border-radius(50%);
			overflow: hidden;
			height: 40px;
			width: 40px;
			float: left;
			margin-right: 10px;
		}
	}
}

.scroll-container-3{
	width: 33.33%;
}

.scroll-container-4{
	width: 25%;
}

.scroll-container-2{
	width: 41.67%;
}

.scroll-container-1{
	width: 75%;
}

.scroll-container-title{
	.getFont(14, @gray-27);
	text-transform: capitalize;
	padding: 25px 10px 25px 30px;


	p{
		.text-ellipsis;
		margin-bottom: 0;
		text-transform: none;
	}
}

.user-profile-link-holder{
	.border-radius(10px);
	position: relative;
	background: white;
	margin: 20px 10px;
	padding: 30px 20px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
  -moz-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;

	img{
		.border-radius(50%);
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		height: 115px;
		width: 115px;
		overflow: hidden;
	}

	.blue-button{
		margin: 0 auto;
		margin-top: 20px;
		display: table;
	}

	.close{
		position: absolute;
		height: 20px;
		width: 20px;
		top: 20px;
		right: 20px;
		color: @gray-3;
		font-family: 'Glyphicons Halflings';

		&:before {
		  content: "\e014";
		}
	}
}

.conversation-list{

	li{
		.border-radius(5px);
		.getFont(12, @gray-14);
		position: relative;
		cursor: auto !important;
		padding: 15px !important;
		padding-top: 30px !important;
		margin-bottom: 70px;
		border: none !important;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
		-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
		box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
		
		&:hover{
			background: inherit !important;
		}

		&.recieved{
			background: white;

			.sender{
				right: 15px;
				left: auto;
			}

			&:hover{
				background: white !important;
			}
		}

		&.sent{
			background: @gray-30;

			&:hover{
				background: @gray-30 !important;
			}
		}

		.sender{
			.border-radius(50%);
			overflow: hidden;
			border: solid 1px;
			position: absolute;
			top: -22px;
			left: 15px;
			height: 45px;
			width: 45px;
			-webkit-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
			-moz-box-shadow:    inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
			box-shadow:         inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
		}

		.message-time{
			.getFont(12, @gray-14);
			position: absolute;
			max-width: 50%;
			bottom: -25px;
			left: 0;
		}

		.flag{
			position: absolute;
			bottom: -25px;
			right: 0;
			display: block;
			height: 15px;
			width: 15px;
			background: url('../img/icons/flag.png') center no-repeat;
		}
	}
}

.conversation-holder{
	padding: 0 20px;

	.scroll-container-title{
		padding-left: 0;
	}
}

.dashboard-textarea{
	.border-radius(5px);
	width: 100%;
	background: white;
	border: none;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
}

.progress-indicator-mixin(@inactiveColor: @gray-1; @activeColor: @blue-1){
	margin-top: 5px;

	li{
		position: relative;
		float: left;

		&:first-child{
			width: 10px;
			min-height: 1px;

			.bar{
				display: none;
			}
		}

		&.active{
			.bar, .circle{
				background: @activeColor;
			}
		}

		.circle{
			.border-radius(50%);
			background: @inactiveColor;
			height: 10px;
			width: 10px;
			position: absolute;
			right: 0;
		  	top: -3px;
		}

		.bar{
			width: 100%;
			height: 3px;
			background: @inactiveColor;
		}
	}
}

.dashboard-progress-indicator-6{
	.progress-indicator-mixin();
	li{
		width: 18%;
	}
}

.dashboard-progress-indicator-5{
	.progress-indicator-mixin();
	li{
		width: 22.5%;
	}
}

.dashboard-progress-indicator-4{
	.progress-indicator-mixin();
	li{
		width: 30%;
	}
}

.dashboard-progress-indicator-3{
	.progress-indicator-mixin();
	li{
		width: 45%;
	}
}

.dashboard-progress-indicator-2{
	.progress-indicator-mixin();
	li{
		width: 90%;
	}
}

.border-bottom{
	border-bottom: solid 2px @gray-8;
	padding-bottom: 5px;
}

.my-account-holder{
	padding-top: 200px;
	position: relative;

	.blue-rect{
		height: 200px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.user-avatar{
		margin: 0 auto;
		margin-top: -75px;
		display: block;
		position: relative;
		z-index: 1;
	}

	.input-holder{
		margin-bottom: 20px;
	}
}

.blue-rect{
	background: @blue-1;
	width: 100%;
}

.user-avatar{
	.border-radius(50%);
	border: solid 3px white;
	width: 150px;
	height: 150px;
}

.dashboard-modal{
	.info-icon-blue-large, .info-icon-gray-large{
		padding: 12px;
	}

	.modal-dialog{
		width: 400px;

		.modal-content{
			padding: 20px;
		}
	}
}

.credit-cards-list{
	margin-bottom: 80px;
	margin-left: 20px;

	li{
		.border-radius(5px);
		position: relative;
		background: gray;	
		width: 340px;
		height: 195px;
		float: left;
		margin: 0 35px 45px 0;

		&.default{
			.def-card{
				display: block;
			}

			.make-def{
				display: none;
			}
		}

		.holder, .expires, .card-num{
			position: absolute;
			color: white;
			font-size: 14px;
		}

		.holder{
			left: 25px;
			bottom: 30px;
			width: 200px;
		}

		.expires{
			right: 47px;
			bottom: 30px;
		}

		.card-num{
			right: 39px;
			top: 83px;
		}

		.def-card, .make-def{
			position: absolute;
			left: 0;
			bottom: -30px;
			font-size: 12px;
			color: @gray-6;
		}

		.make-def{
			bottom: -20px;
		}

		.delete-card{
			position: absolute;
			right: 0;
			bottom: -25px;
		}

		.def-card{
			display: none;
		}

		&.add-card{
			.border-radius(5px);
			cursor: pointer;
			background-color: @gray-33;
			background-image: url('../img/uplaod.png');
			background-position: center;
			background-repeat: no-repeat;
			border: dashed 2px @blue-3;
			color: @blue-3;
			text-align: center;
			p{
				margin-top: 120px;
			}
		}
	}
}

.dashboard-comment-list{
	li{
		position: relative;
		margin-bottom: 30px;

		.sender, .comment, .time{
			font-size: 12px;
		}

		.sender, .time{
			color: lighten(@gray-27, 10%);
			margin-right: 20px;
		}

		.comment{
			margin-top: 10px;
			color: @gray-27;
			min-width: 100%;
		}

		.approved, .declined, .flaged{
			.border-radius(12px);
			padding: 3px 10px;
			font-size: 12px;
			background: white;
			position: absolute;
			right: 0;
		}

		.approved{
			color: @green-1;
		}

		.declined{
			color: @red-1;
		}

		.flaged{
			color: lighten(@gray-27, 10%);
			span{
				height: 10px;
			}
		}
	}
}

.approvals{
	padding: 0 30px;

	.tabs-holder{
		float: right;
		margin: 0 auto;

		.tab-left, .tab-right{
			padding-top: 7px;
  		padding-left: 10px;
			width: 30px;
			height: 30px;
		} 

		.tab-right{
			padding-left: 5px;
		}
	}
}

.image-with-shadow{
	.border-radius(50%);
	overflow: hidden;
	height: 45px;
	width: 45px;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
}

.revenue-list{
	
}

hr.gray{
	border-color: @gray-15;
}

.white-container{
	.border-radius(7px);
	background: white;
	padding: 15px;
	border: solid 1px @gray-4;
}

.user-table-grid{
	.table-top{
		border-bottom: solid 1px @gray-4;

		.gray-link{
			margin-top: 0
		}

		.blue-button, .gray-button, .red-button{
			margin-left: 13px;
			margin-top: 10px;

			&:last-child{
				margin-left: 0;
			}
		}

		.gray-button, .red-button{
			margin-top: 3px;
		}

		.user-name{
			margin-bottom: 0;
		}

		img{
			margin-right: 10px;
			float: left;
		}
	}

	.table-head, .table-list{
		ul{
			li{
				border-right: solid 1px @blue-13;

				&:last-child{
					border: none;
				}
			}
		}
	}

	.table-footer{
		padding: 20px;

		.blue-button, .gray-button{
			margin-left: 20px;
		}
	}
}

.stats-menu-list{
	li{
		border-right: none !important;
		border-bottom: solid 1px @gray-4;
		font-family: "latobold";
		font-weight: bold;
		text-transform: capitalize;
		padding: 10px 25px;
		cursor: pointer;
		position: relative;
		font-size: 14px;

		&:hover{
			background-color: @blue-14;
		}

		&:last-child{
			border-bottom: none;
		}

		&.active{
			background-color: @blue-14;
			.glyphicon{
				display: block;
				position: absolute;
				right: -5px;	
				top: 10px;
				color: white;
				font-size: 20px;
			}
		}

		.glyphicon{
			display: none;
		}
	}
}

.stats-list-head{
	.getFont(18, @gray-7);
	margin-bottom: 0;
	padding: 20px 25px;
	border-bottom: solid 1px @gray-4;
}

.stats-list{
	.getFont(14, @gray-7);
	li{
		padding: 20px 30px;
		white-space: normal;
		border-right: none !important;

		&:nth-child(even){
			background-color: @blue-14;
		}
	}
}

.grid-report{
	.table-top{
		
	}
}

.advance-search-holder{
	padding: 20px;
	background: @gray-5;
	border-top: solid 1px @gray-6;
	border-bottom: solid 1px @gray-6;

	.blue-button{
		margin-top: 32px !important;
	}
}

.reports-list{
	display: table !important;
	width: 100%;

	&>li{
		width: 100%;
		border-right: none !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		border-bottom: solid 1px @gray-4;
		ul{
			display: flex;

			li{
				width: 40%;
				padding: 10px 20px 10px 20px !important;
				float: left;
				white-space: normal;
				&:first-child{
					width: 60%
				}
			}
		}
	}
}

.reports-sum{
	padding: 20px !important;
	font-size: 12px;
	p{
		margin: 0;
	}
}

.table-total{
	background: @blue-15;
	font-size: 16px;
}

.listing-item{
	.border-radius(5px);
	padding: 20px 10px;
	margin-bottom: 10px;
	border: solid 2px @gray-35;

	@media (max-width: 992px){
		div{
			text-align: center !important;
		}

		.selected-icon{
			position: relative;
			left: 50%;
			margin-left: -27px;
			margin-bottom: 10px;
		}
	}

	&:last-child{
		margin-bottom: 0;
	}

	&.active{
		.selected-icon{
			font-family: 'Glyphicons Halflings';
			position: relative;

			&:before {
			  content: "\e013";
			  position: absolute;
			  font-size: 23px;
			  color: white;
			  left: 14px;
			  top: 10px;
			}
		}
	}

	.selected{
		display: none;
		padding-right: 30px;
	}

	&.gray{
		&.active{
			border: solid 2px @gray-14;
		}
	}

	&.orange{
		&.active{
			border: solid 2px @orange-1;
			.selected-icon{
				border: solid 1px lighten(@orange-1, 35%);

				div{
					background: @orange-1;
				}
			}
		}

		.gray-button{
			background: @orange-1 !important;
		}

		.selected{
			color: @orange-1 !important;
		}
	}

	&.blue{
		&.active{
			border: solid 2px @blue-1;
			.selected-icon{
				border: solid 1px lighten(@blue-1, 35%);

				div{
					background: @blue-1;
				}
			}
		}

		.gray-button{
			background: @blue-1 !important;
		}

		.selected{
			color: @blue-1 !important;
		}
	}

	&.active{
		.selected{
			display: block;
		}	

		.activate-button{
			display: none;
		}
	}

	div{
		p:last-child{
			margin-bottom: 0;
		}		
	}
	p{
		margin-bottom: 5px;
	}
}

.selected-icon{
	.border-radius(50%);
	border: solid 1px @gray-35;
	height: 55px;
	width: 55px;
	padding: 3px;

	div{
		.border-radius(50%);
		background: @gray-14;
		height: 47px;
		width: 47px;
		color: white;
	}
}

.dashboard-white-container{
	.border-radius(5px);
	background: white;
	padding: 10px;
	border: solid 1px @blue-3;
}

.dashboard-icon{
	background: url('../img/icons/dash.png') 17px center no-repeat;
}

.deals-icon{
	background: url('../img/icons/deal.png') 17px center no-repeat;
}

.cart-icon{
	background: url('../img/icons/cart.png') 17px center no-repeat;	
}

.shop-icon{
	background: url('../img/icons/shop.png') 17px center no-repeat;		
}

.user-icon{
	background: url('../img/icons/user.png') 17px center no-repeat;			
}

.approval-icon{
	background: url('../img/icons/approval.png') 17px center no-repeat;				
}

.moderation-icon{
	background: url('../img/icons/pen.png') 17px center no-repeat;				
}

.listings-icon{
	background: url('../img/icons/listings.png') 17px center no-repeat;				
}

.search-icon{
	background: url('../img/icons/search.png') 17px center no-repeat;				
}

.users-icon{
	background: url('../img/icons/users.png') 17px center no-repeat;				
}

.report-icon{
	background: url('../img/icons/report.png') 17px center no-repeat;				
}

.settings-icon{
	background: url('../img/icons/settings.png') 17px center no-repeat;					
}

.support-icon{
	background: url('../img/icons/support.png') 17px center no-repeat;						
}

.add-doc{
	background-image: url('../img/icons/doc-add.png');
	background-repeat: no-repeat;
	background-position: center;				
}

.trend-icon{
	background-image: url('../img/icons/trend.png');
	background-repeat: no-repeat;
	background-position: center;					
}

.time-icon{
	background-image: url('../img/icons/time.png');
	background-repeat: no-repeat;
	background-position: center;					
}

.view-icon{
	display: inline-block;
	height: 16px;
	width: 20px;
	background: url('../img/icons/url.png') center no-repeat;
}

.view-2-icon{
	display: inline-block;
	height: 16px;
	width: 20px;
	background: url('../img/icons/inbox.png') center no-repeat;	
}

.status-active, .status-inactive{
	.border-radius(50%);
	display: inline-block;
	width: 10px;
	height: 10px;
}

.status-active{
	background: @green-1;
}

.status-inactive{
	background: @red-1;
}

.dash-icon{
	display: inline-block;
	width: 20px;
	height: 16px;
}

.domain{
	.dash-icon;
	background: url('../img/icons/domain.png') center no-repeat;
}

.website{
	.dash-icon;
	background: url('../img/icons/website.png') center no-repeat;
}

.paper{
	.dash-icon;
	background: url('../img/icons/document.png') center no-repeat;
}

.url-icon{
	.dash-icon;
	background: url('../img/icons/url.png') center no-repeat;	
}

.delete-icon{
	.dash-icon;
	background: url('../img/icons/trash.png') center no-repeat;	
}

.pen-icon{
	.dash-icon;
	background: url('../img/icons/pen.png') center no-repeat;		
	height: 18px;
}

.flag-icon{
	.dash-icon;
	background: url('../img/icons/flag.png') center no-repeat;		
	height: 17px;
}

.filter-btn{
	padding-left: 30px !important;
	background-image: url('../img/icons/filter.png');
	background-position: 20px 10px;
	background-repeat: no-repeat;		
}

.print-icon{
	.dash-icon;
	background: url('../img/icons/print.png') center no-repeat;	
}

.watching-active{
	color: @blue-1;
}

.watching-inactive{
	color: darken(@gray-1, 10%);
}

.dashboard-notes-list{
	li{
		position: relative;
		margin-bottom: 60px;
		padding: 0 2.5%;

		.date{
			position: absolute;
			bottom: -45px;
			left: 0;
		}

		.paper-bg{
			position: absolute;
		  	height: 90px;
			width: 110.3%;
			z-index: 1;
			background-size: 100%;
			left: -6.9%;
		}

		.note-top{
			.paper-bg;
			top: 0;
			img{
				width: 100%;
				height: 90px;
				max-height: 90px;
			}
		}

		.note-bottom{
			.paper-bg;
			bottom: -13px;
  			left: -5%;
			img{
				width: 100%;
				height: 90px;
				max-height: 90px;
			}
		}

		.note-holder{
			background-color: white;
			position: relative;
			z-index: 1;
		  	padding: 20px;
		}
	}
}

@icons-size: 14px;

.verified-icon{
	display: inline-block;
	color: @green-1;
	font-size: @icons-size;
	min-width: 20px;

	&:hover, &:focus{
		color: @green-1;
		text-decoration: none;
	}
}

.not-verified-icon{
	display: inline-block;
	color: darken(@gray-1, 10%);
	font-size: @icons-size;
	min-width: 20px;

	&:hover, &:focus{
		color: darken(@gray-1, 10%);
		text-decoration: none;
	}
}

.red-icon{
	display: inline-block;
	color: @red-1;
	font-size: @icons-size;
	padding-left: 5px;
	min-width: 20px;

	&:hover, &:focus{
		color: @red-1;
		text-decoration: none;
	}
}

.gray-icon{
	display: inline-block;
	color: darken(@gray-1, 10%);
	font-size: @icons-size;
	min-width: 20px;

	&:hover, &:focus{
		color: darken(@gray-1, 10%);
		text-decoration: none;
	}
}

.dashboard-title-container{
	max-width: 1150px;
	min-width: 0;
}

#billing-invoice-modal{
	border-radius: 0;
	.modal-content{
		border-radius: 0;
		padding: 0;
	}

	.modal-dialog{
		border-radius: 0;
		min-width: 870px;
	}

	.invoice-modal-top{
		background: @gray-24;
	}

	.modal-backdrop{
		min-width: 900px;
	}
}

.modal{
	overflow-x: scroll !important;
}

.moderation-comment{
	.note-holder{
		padding-left: 90px !important;
		padding-top: 40px !important;

		img{
			.border-radius(50%);
			position: absolute;
		  width: 60px;
		  left: 20px;
		  top: 30px;
		}
	}
}

.visa{
	background: url('../img/card-visa.png') center no-repeat !important;
}

.master{
	background: url('../img/card-master-card.png') center no-repeat !important;
}

.add-package-modal{
	.blue-button, .gray-button{
		padding: 8px 15px;
  	min-width: 0;
  }

	.modal-head{
		background-color: white;
		border-bottom: solid 1px @gray-24;
	}

	.modal-body{
		padding: 0;
		background: @blue-2;

		.categories{
			li{
				width: 50%;
				float: left;
				border: solid 1px @gray-24;
				border-top: none;
				background: white;
				text-align: center;
				color: @gray-2;
				padding: 10px;

				&:first-child{
					border-left: none;
				}

				&:last-child{
					border-right: none;	
				}

				&.active{
					color: @blue-1;
					border: none;
					background: transparent;
				}
			}
		}
	}
}