/* Dashboard page styles */
.dashboard-container{
	max-width: 1400px;
}

.dashboard-header{
	background: white;
	position: relative;
	z-index: 2;
}

.dashboard-header, .dashboard-container{
	min-width: 1000px;
}

.dashboard-main-holder{
	padding-left: 255px;
	min-width: 1000px;

	@media (max-width:1000px){
		//padding-left: 60px;
	}
}

.user-flyout{
	padding: 15px;
	cursor: pointer;

	img{
		.border-radius(50%);
		height: 30px;
		width: 30px;
	  	overflow: hidden;
		border: solid 1px;
	}

	a{
		color: @gray-7;
		padding: 0 10px 0 10px;
		text-transform: uppercase;

		&:hover, &:focus{
			text-decoration: none;
		}

		span{
		  	font-size: 12px;
		}
	}
}

.notifications{
	.border-radius(20px);
	border: solid 1px @yellow-3;
  	overflow: hidden;
  	min-width: 70px;
  	margin: 16px 0px;
	margin-right: 20px;	
	cursor: pointer;
	
	span{
		width: 50%;
		height: 100%;
		float: left;
		display: inline-block;
	}

	.notificationsNum{
		background: @yellow-3;
		color: white;
	  	padding: 3px 5px;
	}

	.glyphicon{
		color: @yellow-3;
	 	padding: 5px 10px;
	}
}

.notifications-holder{
	.dropdown-menu{
		right: 24px;
	}
}

.dropdown-menu{
	.border-radius(5px);
	border: solid 1px @gray-1;
	width: 330px;
	right: 0;
  	left: auto;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
	
	.peak{
		background: url('../img/peak-gray.png') center no-repeat;
		display: block;
		position: absolute;
		width: 20px;
	  	height: 20px;
	  	top: -13px;
	  	right: 20px;
	}

	hr{
		margin: 10px 0;
	}

	.blue-button{
		width: 100%;
		min-width: 0;
		margin-top: 0;
		padding: 7px 20px;
	}

	a{
		display: inline-block;
		margin-top: 5px;
	}
}

.user-dropdown{
	p{
		margin-bottom: 0;
	}

	img{
		.border-radius(50%);
		height: 50px;
		width: 50px;
	  	overflow: hidden;
		border: solid 1px;
	}
}

.notificationsList{
	margin-bottom: -15px;

	.notificationName{
		.getFont(12, @gray-7);
		margin-bottom: 0;
	}

	.notificationTime{
		.getFont(12, @gray-6);
		margin-bottom: 0;
	}

	.notificationFrom{

	}

	li{
		border-top: solid 1px lighten(@gray-6, 10%) !important;
		position: relative;
		min-height: 66px;

		&.new{
			background: lighten(@yellow-3, 49%);

			.notificationIcon{
				background: @yellow-3;
			}
		}
		
		&>div{
			padding: 15px;
			padding-left: 70px;
			background: transparent;
			border: none !important;

			&:hover{
				background: lighten(@gray-1, 5%);
			}
		}

		.notificationIcon{
			.border-radius(50%);
			position: absolute;
			left: 15px;
			background: @gray-6;
			color: white;
		  	height: 40px;
		  	width: 40px;
		  	top: 13px;
		}
	}
}

.dashboard-nav{
	width: 225px;
	position: absolute;
	z-index: 1;
	top: 0;
	height: 100%;
	min-height: 650px;
	background: @gray-19;
	//-webkit-transition: all 0.5s; /* Safari */
  	//transition: all 0.5s;

	// @media (max-width: 1000px){
	// 	left: 0px;

	// 	.glyphicon-triangle-left{
	// 		right: -3px !important;
	// 	}

	// 	&.collapsed{
	//   	left: -226px;
	//   }
	// }

	// @media (min-width: 1001px){
	// 	left: 0px !important;
	// }

	.nav-items-holder{
		li{
			position: relative;
			color: @gray-22;
			text-transform: uppercase;
			border-bottom: solid 1px @gray-20;
			cursor: pointer;

			a{
				color: @gray-23;
				display: block;
				padding: 17px 50px;
				
				&:hover, &:focus{
					color: @gray-22;
					text-decoration: none;
				}
			}


			&.active{
				color: white;
				background: @gray-31;

				.glyphicon{
					display: block;
				}
			}

			&:hover{
				background: @gray-31;
			}

			&.has-notification{
				.notifications-indicator{
					display: inline !important;
				}
			}
		}

		.notifications-indicator{
			.border-radius(50%);
			display: block;
			position: absolute;
			top: 24px;
			left: 5px;
			background: @yellow-3;
			height: 5px;
			width: 5px;
			display: none;
		}

		.collapse.in, [aria-expanded="true"]{
			background: @gray-21;
		}

		[aria-expanded="true"], [aria-expanded="false"]{
			.icon{
				right: 20px;
				top: 24px;
				font-size: 12px;
				position: absolute;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		[aria-expanded="true"]{
			.icon{
				&::before{
					content: "\e253";
				}
			}
		}

		[aria-expanded="false"]{
			.icon{
				&::before{
					content: "\e252";
				}
			}
		}
	}

	.submenu{
		padding-bottom: 20px;

		li{
			border: none;
			padding: 0;
			color: @gray-23;
			text-transform: capitalize;
			font-size: 14px;
			padding-left: 25px;

			a{
				padding: 10px 0;
			}

			.notifications-submenu{
				.border-radius(10px);
				position: absolute;
				right: 20px;
				top: 10px;
				padding: 2px 7px;
				background: @yellow-3;
				color: @gray-21;
				font-size: 12px;
  				line-height: 16px;
			}
		}

		.glyphicon.glyphicon-triangle-left{
		  	top: 13px;
		}
	}

	.glyphicon{
		color: white;

		&.glyphicon-triangle-left{
			position: absolute;
			right: -4px;
  			top: 20px;
  			display: none;
		}
	}
}

.copy-right{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dashboard-menu-items{
	background: @gray-24;
	position: relative;
	min-width: 1000px;

	ul{
		li{
			float: left;
			margin-right: 50px;

			&:last-child{
				margin-right: 0;
			}

			a{
				text-transform: uppercase;
				color: @gray-25;
				font-size: 14px;
				padding: 10px 5px;
				display: inline-block;

				&:hover{
					text-decoration: none;
					color: @blue-1;
				}

				&:focus{
					text-decoration: none;	
				}
			}

			&.active{
				a{
					text-decoration: none;
					color: @blue-1;
					border-bottom: solid 3px @blue-1;
				}
			}
		}
	}
}

.row-correction{
	margin-right: 0;
}

.dashboard-item-blue{
	.border-radius(3px);
	background: @blue-1;
	padding: 20px;
	padding-right: 60px;
	padding-bottom: 45px;
	position: relative;
	min-height: 200px;
	overflow: hidden;

	.link-to{
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: @blue-9;
		border: solid 1px @blue-10;
		border-right: none;
		display: block;
		position: absolute;
		right: 0;
		top: 20px;
		height: 40px;
		width: 55px;
	}

	.item-footer{
		.text-ellipsis;
		background: @blue-9;
		border-top: solid 1px @blue-10;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0px;
		padding: 10px 20px;
		color: white;
		font-size: 12px;
		text-transform: uppercase;

		a{
			.text-ellipsis;
			color: white;
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	.item-header{
		font-size: 14px;
		color: white;
		text-transform: uppercase;
	}

	.item-list{
		li{
			.text-ellipsis;
			margin-bottom: 8px;
		}

		a{
			.text-ellipsis;
			font-size: 12px;
			color: white;
			display: block;
			text-transform: capitalize;
		}
	}
}

.price-drop{
	color: @red-1;
}

.price-increase{
	color: @green-1;
}

.dashboard-table-holder, .paging-table{
	.border-radius(5px);
	background: white;
	border: solid 1px @gray-4;
	overflow: hidden;
	max-height: 394px;

	.table-head-title{
		padding: 20px;
		.getFont(14, @gray-7);
		text-transform: capitalize;
	}

	.table-head{
		background: @gray-24;
		font-weight: bold;

		ul{
			padding: 10px 20px;
			overflow-y: scroll;
			margin-right: -30px;
			padding-right: 50px;

			li{
				.text-ellipsis;
				float: left;
				width: 23%;
				margin: 0 1%;
				.getFont(12, @gray-7);
			}
		}
	}

	.table-list{
		max-height: 293px;
  		overflow-y: scroll;
  		padding: 0 20px;
  		.getFont(12, @gray-7);

  		ul{
  			border-bottom: solid 1px @gray-4;
  			margin: 0 -20px;
  			padding: 15px 20px;

  			li{
  				.text-ellipsis;
  				float: left;
  				min-height: 1px;

  				&.price{
  					padding-right: 1%;
  				}
  			}

  			&:last-child{
  				border: none;
  			}
  		}
	}

	.table-footer{
		padding: 10px;
	}
}

.paging-table{
	max-height: none;

	.table-head{
		padding: 10px 0;

		ul{
			overflow: visible;
			text-transform: uppercase;
		}
	}

	.table-list{
		max-height: none;
		overflow-y: visible;

		ul{
			&:last-child{
				border-bottom: solid 1px @gray-4;
			}
		}
	}
}

.bg-gray{
	position: absolute;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	background: @gray-5;
}

.dashboard-page-tittle{
	.getFont(16, @gray-27);
	position: relative;
	background: white;
	padding-top: 15px;
	padding-bottom: 16px;
	text-transform: capitalize;
	margin-left: -35px;
	padding-left: 290px;
	min-width: 1040px;
}

.mobile-navigation{
	height: 100%;
	width: 40px;
	right: -40px;
	position: absolute;
	background: @gray-19;
	display: none;

	.icon-bar{
		background: white;
	}

	.navbar-toggle{
		padding: 8px;
	}

	@media (max-width: 1000px){
		display: block;
	}
}

.scroll-container{
	overflow-y: scroll;
	float: left;

	ul{
		.desc-1{
			.getFont(12, @gray-27);
			margin-bottom: 5px;
		}
		.desc-2{
			.getFont(12, @gray-14);
			.margin-0;
		}

		li{
			p{
				.text-ellipsis;
			}
			border-top: solid 1px @gray-29;
			padding: 15px 30px;
			cursor: pointer;

			&:hover{
				background: @gray-5;
			}

			&:last-child{
				border-bottom: solid 1px @gray-29;
			}
		}
	}

	&.gray-25{
		background: @gray-26;
	}

	&.gray-28{
		background: @gray-28;
	}

	&.gray-5{
		background: @gray-5;
	}
}

.user-list{
	li{
		position: relative;

		.user-profile-link{
			position: absolute;
			top: 10px;
			right: 15px;
			background: gray;
			height: 15px;
			width: 15px;
			display: block;
		}

		img{
			.border-radius(50%);
			overflow: hidden;
			height: 40px;
			width: 40px;
			border: solid 1px;
			float: left;
			margin-right: 10px;
		}
	}
}

.scroll-container-3{
	width: 33.33%;
}

.scroll-container-4{
	width: 25%;
}

.scroll-container-2{
	width: 41.67%;
}

.scroll-container-title{
	.getFont(14, @gray-27);
	text-transform: capitalize;
	padding: 25px 30px;
}

.user-profile-link-holder{
	.border-radius(10px);
	position: relative;
	background: white;
	margin: 20px 10px;
	padding: 30px 20px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
  	-moz-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;
  	box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.2) !important;

	img{
		.border-radius(50%);
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		height: 115px;
		width: 115px;
		border: solid 1px;
		overflow: hidden;
	}

	.blue-button{
		margin: 0 auto;
		margin-top: 20px;
		display: table;
	}

	.close{
		position: absolute;
		height: 20px;
		width: 20px;
		background: gray;
		top: 20px;
		right: 20px;
	}
}

.conversation-list{

	li{
		.border-radius(5px);
		.getFont(12, @gray-14);
		position: relative;
		cursor: auto !important;
		padding: 15px !important;
		padding-top: 30px !important;
		margin-bottom: 70px;
		border: none !important;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
		-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
		box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
		
		&:hover{
			background: inherit !important;
		}

		&.recieved{
			background: white;

			.sender{
				right: 15px;
				left: auto;
			}

			&:hover{
				background: white !important;
			}
		}

		&.sent{
			background: @gray-30;

			&:hover{
				background: @gray-30 !important;
			}
		}

		.sender{
			.border-radius(50%);
			overflow: hidden;
			border: solid 1px;
			position: absolute;
			top: -22px;
			left: 15px;
			height: 45px;
			width: 45px;
			-webkit-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
			-moz-box-shadow:    inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
			box-shadow:         inset 0px 0px 4px 0px rgba(50, 50, 50, 0.2);
		}

		.message-time{
			.getFont(12, @gray-14);
			position: absolute;
			max-width: 50%;
			bottom: -25px;
			left: 0;
		}

		.flag{
			position: absolute;
			bottom: -25px;
			right: 0;
			display: block;
			height: 15px;
			width: 15px;
			background: gray;
		}
	}
}

.conversation-holder{
	padding: 0 20px;

	.scroll-container-title{
		padding-left: 0;
	}
}

.dashboard-textarea{
	.border-radius(5px);
	width: 100%;
	background: white;
	border: none;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2) !important;
}