/* Font styles */
@h3-gray-1-color: @gray-3;
@h3-gray-2-color: @gray-2;
@h3-gray-3-color: @gray-7;
@h3-blue-1-color: @blue-1;

body{
  color: @gray-3;
  font-family: 'latoregular';

  b{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  i{
    font-family: 'latoitalic';
  }
}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.eot');
    src: url('fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-italic-webfont.woff2') format('woff2'),
         url('fonts/lato-italic-webfont.woff') format('woff'),
         url('fonts/lato-italic-webfont.ttf') format('truetype'),
         url('fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

//get custom font mixin
.getFont(@size, @color: @black-1, @line-height: 1.5) { 
  font-size: ~"@{size}px";
  color: ~"@{color}";
  line-height: @line-height;
}

//generate gray fonts
@iterationsG: 30;
.loopingClassGray (@index, @num) when (@index > 9) { 
  @fullColor: ~"@{gray-@{num}}";
  @colorName: ~"@{num}-@{index}";
  .gray-@{colorName} {
    .getFont(@index, @fullColor);
  } 
  .loopingClassGray(@index - 1, @num); 
} 

//prints out .gray-1-30
.loopingClassGray (0, 1) {} 
.loopingClassGray(@iterationsG, 1);

//prints out .gray-2-30
.loopingClassGray (0, 2) {} 
.loopingClassGray(@iterationsG, 2);

//prints out .gray-3-30
.loopingClassGray (0, 3) {} 
.loopingClassGray(@iterationsG, 3);

//prints out .gray-6-30
.loopingClassGray (0, 6) {} 
.loopingClassGray(@iterationsG, 6);

//prints out .gray-7-30
.loopingClassGray (0, 7) {} 
.loopingClassGray(@iterationsG, 7);

//prints out .gray-16-30
.loopingClassGray (0, 16) {} 
.loopingClassGray(@iterationsG, 16);

//prints out .gray-22-30
.loopingClassGray (0, 22) {} 
.loopingClassGray(@iterationsG, 22);

//prints out .gray-27-30
.loopingClassGray (0, 27) {} 
.loopingClassGray(@iterationsG, 27);

//generate blue fonts
@iterationsB: 30;
.loopingClassBlue (@index, @num) when (@index > 9) { 
  @fullColor: ~"@{blue-@{num}}";
  @colorName: ~"@{num}-@{index}";
  .blue-@{colorName} {
    .getFont(@index, @fullColor);
  } 
  .loopingClassBlue(@index - 1, @num); 
} 

//prints out .blue-30-1
.loopingClassBlue (0, 1) {} 
.loopingClassBlue(@iterationsB, 1);

//generate red fonts
@iterationsR: 30;
.loopingClassRed (@index, @num) when (@index > 9) { 
  @fullColor: ~"@{red-@{num}}";
  @colorName: ~"@{num}-@{index}";
  .red-@{colorName} {
    .getFont(@index, @fullColor);
  } 
  .loopingClassRed(@index - 1, @num); 
} 

//prints out .red-30-1
.loopingClassRed (0, 2) {} 
.loopingClassRed(@iterationsR, 2);


.h1-gray-1, .h2-gray-1, .h3-gray-1{
  line-height: 1.5;
  color: @h3-gray-1-color;
}

.h1-gray-3{
  color: @h3-gray-3-color;
}

.h3-gray-2{
  color: @h3-gray-2-color;
}

.h1-blue-1, .h2-blue-1, .h3-blue-1{
  line-height: 1.5;
  color: @h3-blue-1-color;
}

.h1-white-1{
  line-height: 1.5;
  color: white;
}

.h1-white{
  font-size: 42px;
}

.h1-gray-1, .h1-gray-3{
  font-size: 22px;
}

.h1-blue-1{
  font-size: 22px;
}

.h2-gray-1{
  font-size: 18px;
}

.h3-gray-1{
  font-size: 14px;
  @media (max-width: 991px){
    font-size: 16px;
  }
}

.h3-gray-2{
  font-size: 14px;
  @media (max-width: 991px){
    font-size: 16px;
  }
}

.domain-desc-asking{
  float: left;
}

.comment-box{
  form{
    padding: 20px 25px;
    background: @gray-5;
  }

  textarea{
    .border-radius(5px);
    padding: 10px;
    width: 100%;
    resize: none;
    border: solid 1px @gray-6;
  }
}

.text-underline{
  text-decoration: underline;
}

.font-icons{
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}