/* Inputs styles */
.input-white{
	padding: 15px 5px 15px 25px; 
	background: white;
	border: none;
	color: @blue-1;
	font-size: 14px;
	width: 165px;
}

.text-input{
	.border-radius(5px);
	border: solid 1px @blue-3;
	width: 100%;
	padding: 10px;
	color: @gray-2;
}

.password{
	padding-right: 60px;
}

.pass-input-holder{
	position: relative;
}

.forgot-pass{
	font-size: 12px;
	color: @gray-9;
	text-decoration: underline;
	position: absolute;
	top: 23px;
	right: 0;
	text-transform: capitalize;
}

.reveal-pass{
	position: absolute;
	top: 55px;
  	right: 20px;
  	color: @gray-2;
  	cursor: pointer;
}