/* Inputs styles */
.input-white{
	padding: 15px 5px 15px 25px; 
	background: white;
	border: none;
	color: @blue-1;
	font-size: 14px;
	width: 165px;
}

.text-input{
	.border-radius(5px);
	border: solid 1px @blue-3;
	width: 100%;
	padding: 8px;
	color: @gray-2;
}

.password{
	padding-right: 60px;
}

.pass-input-holder{
	position: relative;
}

.forgot-pass{
	font-size: 12px;
	color: @gray-9;
	text-decoration: underline;
	position: absolute;
	top: 23px;
	right: 0;
	text-transform: capitalize;
}

.reveal-pass{
	position: absolute;
	top: 50px;
	right: 20px;
	color: @gray-2;
	cursor: pointer;
	background: url('../img/icons/eye.png') center no-repeat;
	height: 20px;
  width: 20px;
}

.input-gray{
	input{
		.border-radius(5px);
		position: relative;
		height: 40px;
		padding: 10px 10px 10px 35px; 
		width: 100%;
		font-size: 14px;
		border: solid 1px @gray-6;
		color: @gray-2;
	}

	span{
		position: absolute;
		z-index: 2;
		color: @gray-2;
		top: 10px;
		left: 35px;
	}
}

textarea{
	resize: none;

	&.medium{
		height: 142px;
	}

	&.small{
		height: 90px;
	}
}

label{
	min-height: 25px;
}

.custom-checkbox{
	display: inline-block;
	margin-right: 10px;

	input{
		height: 1px;
		width: 1px;
		opacity: 0;
	}

	label{
		cursor: pointer;
		text-transform: capitalize;
		padding: 5px 0 10px 30px;
		background: url('../img/checkbox-unchecked.png') no-repeat center left;
		
		&.checked{
			background: url('../img/checkbox-checked.png') no-repeat center left; 
		}
	}
}

.domain-form .has-switch label{
	padding-top: 5px;
}

.switch-holder{
	margin-top: -5px;

	@media (max-width: 767px){
		margin-top: 20px;
	}

	p{
		margin-top: 6px;
		float: left;
		padding: 0 10px;
		cursor: pointer;

		&:first-child{
			text-align: right;
		}
		&:last-child{
			text-align: left;
		}

		&[name="off-switch"]{
			padding-left: 0;
		}
	}
}

.bootstrap-switch.bootstrap-switch-wrapper{
	float: left;
	.border-radius(20px);
	background: @blue-1;
	width: 66px !important;
	height: 35px !important;
	padding-top: 2px !important;
	padding-left: 2px !important;
	border-color: transparent;

	.bootstrap-switch-label{
		.border-radius(50%);
		position: relative;
		z-index: 2;
		height: 29px;
		-webkit-box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.3);
		box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.3);
	}
}

.bootstrap-switch-off{
	background-color: @gray-32 !important;

	.bootstrap-switch.bootstrap-switch-wrapper, .bootstrap-switch-primary{
		background-color: @gray-32 !important;		
	}
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off{
	padding: 5px;
}

.bootstrap-switch-handle-on{
	margin-left: -2px;
	margin-right: 2px;
}

.small-switch{
	.bootstrap-switch{
		margin-left: 4px;
	}

	.bootstrap-switch.bootstrap-switch-wrapper{
		  height: 25px !important;
	}

	.bootstrap-switch-handle-on, .bootstrap-switch-handle-off{
		line-height: 10px !important;
		width: 40px !important;
		position: relative;
  		top: -3px;
	}

	.bootstrap-switch-handle-off{
		width: 40px !important;
	}

	.bootstrap-switch.bootstrap-switch-wrapper .bootstrap-switch-label{
		height: 21px !important;
		width: 21px !important;
	}
}



.uploaded-docs-holder{
	@media (max-width: 991px){
		margin: 0 auto;
		display: table;
	}
}

.uploaded-docs-list{
	float: left;

	li{
		float: left;
		position: relative;
		width: 130px;
		margin-top: 20px;
		margin-right: 20px;

		@media (min-width: 992px){
			&:nth-child(5n){
				margin-right: 0;
			}
		}

		@media (max-width: 480px){
			float: none;	

			&:last-child{
				margin-bottom: 10px;
			}
		}
	}
	.remove-doc{
		.font-icons;
		margin-top: 10px;
		float: right;
		color: @gray-17;
		display: inline-block;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;

		@media (max-width: 992px){
			font-size: 24px;
		}

		&:hover{
			color: @gray-7;
		}

		&::before {
		  content: "\e020";
		}
	}

	.uploadedContent{
		.border-radius(5px);
		width: 100%;
		height: 130px;
		background: @gray-17;
	}

	.uploader{
		.border-radius(5px);
		cursor: pointer;
		border: dashed 2px @gray-17;
		float: left;
		height: 130px;
		width: 130px;
		background: transparent;
		background: url('../img/uplaod.png') center no-repeat;
	}
}

[data-disabled]{
	.hider{
		height: 250px;
	  width: 100%;
	  position: absolute;
	  left: 0;
	  z-index: 3;
	}
	opacity: 0.5;
}

.disabled{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	background: transparent;
}

label{
	min-height: 15px;
	font-size: 12px;
}

.pin-input-holder{
	input{
		float: left;
		width: 22%;
		margin: 0 1.5%;
		text-align: center;
	}
}

.custom-text-input-holder{
	position: relative;

	.icon{
		display: block;
	  height: 37px;
	  width: 44px;
	  position: absolute;
	  line-height: 38px;
	  text-align: center;
	}

	&.right{
		.icon{
			right: 0;
		  bottom: 0;
		  border-left: solid 1px @gray-6;
		}

		input{
			padding-right: 45px;
		}
	}

	&.left{
		.icon{
			left: 0;
		  bottom: 0;
		  border-right: solid 1px @gray-6;
		}

		input{
			padding-left: 45px;
		}
	}
}

#carousel-example-generic{
	background: url('../img/macbook-inner-page.png') center no-repeat;
	background-size: 100%;

	@media(max-width: 1024px){
  	background: none;
  	margin-top: -13%;
  }	
}

.carousel-inner{
	height: 540px;
  width: 77%;
  margin: 0 auto;
  top: 50px;

  @media(max-width: 1200px){
  	  top: 80px;  	
  }

  @media(max-width: 1024px){
  	  width: 100%;
  	  height: auto !important;

  	  .item{
  	  	img{
  	  		width: 100% !important;
  	  	}
  	  }
  }

	.item{
		img{
			width: 640px;
		}
	}
}

.carousel {
	@media (max-width: 1024px){
		padding-bottom: 90px !important;
	}
}