/* Inputs styles */
.input-white{
	padding: 15px 5px 15px 25px; 
	background: white;
	border: none;
	color: @blue-1;
	font-size: 14px;
	width: 165px;
}

.text-input{
	.border-radius(5px);
	border: solid 1px @blue-3;
	width: 100%;
	padding: 10px;
	color: @gray-2;
}

.password{
	padding-right: 60px;
}

.pass-input-holder{
	position: relative;
}

.forgot-pass{
	font-size: 12px;
	color: @gray-9;
	text-decoration: underline;
	position: absolute;
	top: 23px;
	right: 0;
	text-transform: capitalize;
}

.reveal-pass{
	position: absolute;
	top: 55px;
  	right: 20px;
  	color: @gray-2;
  	cursor: pointer;
}

.input-gray{
	input{
		.border-radius(5px);
		position: relative;
		height: 40px;
		padding: 10px 10px 10px 35px; 
		width: 100%;
		font-size: 14px;
		border: solid 1px @gray-6;
		color: @gray-2;
	}

	span{
		position: absolute;
		z-index: 2;
		color: @gray-2;
		top: 10px;
		left: 35px;
	}
}

textarea{
	resize: none;

	&.medium{
		height: 142px;
	}

	&.small{
		height: 90px;
	}
}

label{
	min-height: 25px;
}

.custom-checkbox{
	display: inline-block;
	margin-right: 10px;

	input{
		height: 1px;
		width: 1px;
		opacity: 0;
	}

	label{
		padding-left: 30px;
		padding-bottom: 10px;
		background: url('../img/checkbox-unchecked.png') no-repeat center left;
		
		&.checked{
			background: url('../img/checkbox-checked.png') no-repeat center left; 
		}
	}
}