/* Modal styles */
.modal-gray{
	.border-radius(3px);
	background: @gray-5;
	padding: 35px 80px;

	@media (max-widht: 991px){
		padding: 30px;		
	}
}

.modal-content{
	-webkit-box-shadow: none;
  	box-shadow: none;	
}