/* Range selectors styles */
.range-selector-container{
  margin-bottom: 50px;
}

.slider-range-blue{
  background: @gray-6;
  border: none;
  height: 5px;
  width: 60%;
  margin: 0 20%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  .border-radius(50%);
  background: @blue-1;
  border: none;
  top: -6px;
}

.ui-widget-header{
  background: @blue-1;
}

.slider-range-label-min, .slider-range-label-max, .label-range{
  color: @gray-3 !important;
}

.slider-range-label-min, .slider-range-label-max{
  position: absolute;
  width: 20%;
  top: 30px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-weight:bold;
  border: none;
}

.slider-range-label-min{
  left: 0;
}

.slider-range-label-max{
  right: 0;
}

